.ciclable
{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    text-decoration: none;
}

.ciclable h2
{
    width: 100%;
    color: #E317B7;
}

.text-box
{
    color: #890e6d;
}

.text-box
{
    width: 100%;
}

.card
{
    position: relative;
    width: 30%;
    transition: 0.2s ease-out;
    background-color: #FFAFEE;
    clip-path: polygon(50% 0%, 83% 12%, 100% 0, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0 0, 17% 12%);
    padding: 2em 0;
    margin: 0.5em 0;
}

.content
{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card:hover
{
    transform: scale(0.9);
}

.imgArtist
{
    transform: scale(1.5);
}

.imgArtist
{
    transition: 0.2s ease-out;
  width: 100px;
  clip-path: polygon(50% 0%, 67% 22%, 98% 35%, 76% 59%, 79% 91%, 50% 79%, 21% 91%, 22% 58%, 2% 35%, 31% 23%);
}

.animHover
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    mix-blend-mode: color-burn;
    z-index: 1;
    transform: translate(-50%,-50%) scale(1);
    filter: drop-shadow(0px 0px 2px black);
}

.card:hover .animHover
{
    animation: hoverMagic 1.8s;
    animation-iteration-count: 1;
}

@keyframes hoverMagic
{
    0%
    {
        transform: translate(-50%,-50%) scale(1);
        opacity: 0;
    }

    1%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
        transform: translate(-50%,-50%) scale(1.2);
    }
}


@media screen and (min-width: 1400px)
{
    .card
    {
        width: 23%;
    }
}


@media screen and (max-width: 768px)
{
    .card
    {
        width: 40%;
    }
}


@media screen and (max-width: 420px)
{
    .card
    {
        width: 80%;
    }
}